:root {
  --yellow: #bdae82;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  background: #000000;
}
a {
  color: #ffffff;
}

/* 
  ******* header *******
*/

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 21px;
}
.header__logo {
  cursor: pointer;
  transition: 0.2s linear;
}
.header__logo:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__list-item {
  list-style: none;
  margin-left: 32px;
}

.header__list-item:first-child {
  margin-left: 0;
}
.header__list-link {
  text-decoration: none;
  transition: 0.2s linear;
}
.header__list-link:hover {
  color: var(--yellow);
}
.header__list-link_bold {
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s linear;
  color: #fff;
}
a.header__list-link_bold:hover {
  color: var(--yellow);
}
.switch_active {
  color: var(--yellow);
}

.toggle__theme {
  min-width: 45px;
  min-height: 45px;
  margin-left: 31px;
  background-image: url("../icons/dark__theme.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  cursor: pointer;
  transition: 0.4s linear, margin-right 0s;
}
.toggle__theme.active {
  background-size: 45px 45px;
  background-image: url("../icons/light__theme.svg");
}
.toggle__theme:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* 
  ******* main *******
*/

/* 
  ******* hero *******
*/

.hero {
  background: url("../images/bg.jpg") no-repeat center local;
  background-size: cover;
}
.hero__wrapper {
  color: #fff;
  padding: 248px 0 330px 81px;
  max-width: 550px;
}
.hero__wrapper-header {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 10px;
}
.hero__wrapper-descr {
  line-height: 40px;
  margin-bottom: 26px;
}
.button {
  color: #000000;
  line-height: 40px;
  cursor: pointer;
}
.button_size {
  padding: 7px 73px;
  background-color: var(--yellow);
  border: var(--yellow) 1px solid;
}
.button_size:hover {
  color: #ffffff;
  transition: 0.3s linear;
}

/* 
  ******* skills *******
*/
.title__wrapper {
  width: 48.6%;
  margin: 0 auto;
}
.title {
  padding-top: 113px;
  padding-bottom: 75px;
  overflow: hidden;

  text-align: center;
  font-size: 40px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: var(--yellow);
}
.title::before,
.title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
  position: relative;
}
.title::before {
  margin-left: -100%;
  left: -20px;
}
.title::after {
  margin-right: -100%;
  right: -20px;
}
.skills__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills__wrapper-image {
  max-height: 50px;
  margin-bottom: 50px;
}
.skills__wrapper-item {
  max-width: 320px;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 40px;
}
.skills__descr {
  font-size: 18px;
  line-height: 36px;
  margin: 0 20px 10px 20px;
}

/* 
  ******* portfolio *******
*/
.portfolio__tabs {
  text-align: center;
  margin-bottom: 54px;
}
.portfolio__tab-item {
  background-color: #000000;
  color: var(--yellow);
  border: var(--yellow) 2px solid;
  min-width: 220px;
  padding-top: 7px;
  padding-bottom: 6px;
  margin-bottom: 5px;
  transition: 0.3s linear;
}
.portfolio__tab-item:hover {
  color: #ffffff;
}
.portfolio__tab-item_active {
  background-color: var(--yellow) !important;
  color: #000000;
}
.portfolio__items {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.portfolio__item-photo {
  max-width: 450px;
  transition: 0.3s transform;
}
.portfolio__item-photo:hover {
  transform: scale(1.03);
}

.animation__photo {
  animation-duration: 600ms;
  animation-name: photo;
}
@keyframes photo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 
  ******* video *******
*/

.video__player {
  max-width: 100%;
}

.video__wrapper {
  margin-top: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.video__controls {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
}
.video__controls {
  transition: 0.2s linear;
}
.video__controls:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* 
  ******* price *******
*/

.price {
  padding: 0 20px;
  padding-bottom: 100px;
}
.price__wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.price__item {
  border: 2px solid var(--yellow);
  max-width: 450px;
  text-align: center;
  padding: 0 112px;
  margin-bottom: 5px;
}
.price__item_ru {
  padding: 0 92px;
}
.price__subtitle {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  margin-top: 42px;
  margin-bottom: 20px;
}
.price__money {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
  color: var(--yellow);
}
.price__descr {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 39px;
}

.button_size_m {
  padding: 7px 39px;
  margin-bottom: 40px;
}

/* 
  ******* contacts *******
*/

.contacts {
  background: url("../images/contacts/contacts.jpg");
  background-size: auto 702px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.contacts__wrapper {
  width: 450px;
  padding-top: 58px;
  padding-bottom: 196px;
  margin-right: 20px;
  margin-left: 20px;
}
.contacts__title {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--yellow);
  margin-bottom: 40px;
}
.contacts__form-input {
  width: 100%;
  padding: 4px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 40px;
  color: var(--yellow);
  background-color: #00000080;
  border: 2px solid var(--yellow);
  outline: none;
  cursor: pointer;
}

.contacts__form-input::-webkit-input-placeholder {
  color: var(--yellow);
}
.contacts__form-input::-moz-placeholder {
  color: var(--yellow);
}

.contacts__form-input_nosize {
  resize: none;
  height: 100px;
}
.button_size_submit {
  margin-top: 5px;
  padding: 6px 40px;
}

/* 
  ******* footer *******
*/

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 58px 20px;
  align-items: center;
  background-color: #000;
  color: #fff;
}
.footer__items {
  display: flex;
}
.footer__item {
  margin-right: 25px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__link {
  text-decoration: none;
  transition: 0.2s linear;
}
.footer__link:hover {
  color: var(--yellow);
}
.footer__items_list {
  list-style: none;
}
.footer__item-text {
  margin-left: 10px;
}

.footer__svg {
  transition: 0.2s linear;
}

.footer__svg:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* 
  ******* Adaptive Design *******
*/
.hamburger {
  margin-left: 20px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}
.line {
  width: 100%;
  height: 3px;
  background: #ffffff;
  z-index: 15;
  transition: all 0.5s ease-in-out;

  width: 100%;
  margin: 5px 0;
  z-index: 15;
  transition: all 0.5s ease-in-out;
}
.hamburger.is-active {
  position: fixed;
  right: 63px;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
  margin: 2px 0;
}

.hamburger.is-active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--yellow);
  margin: 5px 0;
}
.hamburger.is-active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: var(--yellow);
  margin: 2px 0;
}
.content {
  display: inline-block;
}

@media (max-width: 800px) {
  .header__list-item {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  /* 
  ******* Hero *******
  */
  .header {
    padding: 19px 63px 21px 60px;
  }
  .hamburger {
    order: 1;
    margin-left: 30px;
  }

  .content__adaptive-menu {
    overflow-x: hidden;
    position: fixed;
    width: 80%;
    height: 100vh;
    right: -758px;
    top: 0;
    z-index: 2;
    transition: 0.5s linear;
  }

  .toggle__theme.close {
    margin-right: 80px;
  }
  .content__adaptive-menu.open {
    box-shadow: 0 0 0 9999px rgb(0 0 0 / 50%);
    right: 0;
  }

  .skills__wrapper {
    justify-content: center;
    gap: 28px;
  }
  .price__item {
    max-width: 420px;
  }
  .header__list {
    overflow-x: hidden;
    flex-direction: column;
    justify-content: stretch;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    padding: 151px 0 0 126px;
    position: absolute;
    top: 0;
    z-index: 2;
    right: -768px;
    transition: 0.5s linear, 2s color, 0s background-color;
  }
  .header__list.open {
    right: 0;
    box-shadow: 0 0 0 9999px rgb(0 0 0 / 50%);
    transition: 0s color, 0s background-color;
  }
  .header__list-link {
    font-size: 34px;
    display: block;
    padding-bottom: 48px;
  }
  .header__list-item:last-child .header__list-link {
    padding-bottom: 20px;
  }
  .header__list-item:last-child .header__list-link {
    padding-bottom: 20px;
  }
  .header__list-link_bold {
    font-size: 20px;
  }
  .header__list-item {
    margin-left: 0;
  }
  .header__list-item:last-child {
    margin-bottom: 0;
  }
  .header__list-link_bold {
    margin-left: 9px;
  }
  .header__list-link_slash {
    margin-left: 3px;
  }
  .header__list-link_bold:last-child {
    margin-left: 2px;
  }
  .hamburger {
    display: flex;
  }
  .hero {
    background-size: auto 618px;
    background-position: -3px -29px;
  }
  .hero__wrapper {
    padding: 168px 0 0 60px;
    min-height: 589px;
    max-width: 447px;
  }

  .hero__wrapper-header {
    font-size: 32px;
    line-height: 64px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .hero__wrapper-descr {
    line-height: 24px;
    margin-bottom: 60px;
  }

  .button_size {
    padding: 6px 0;
  }
  .button {
    width: 220px;
    height: 55px;
  }

  /* 
  ******* Skills *******
  */

  .title {
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 66px;
  }
  .title__wrapper {
    width: 47.6%;
    margin: 0 auto;
  }
  .skills__wrapper-image {
    margin-bottom: 30px;
  }
  .skills__descr {
    line-height: 22px;
    margin: 0 20px 0 20px;
  }
  .skills__wrapper-item {
    margin-bottom: 48px;
  }

  /* 
  ******* Portfolio *******
  */

  .portfolio__tabs {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 56px;
    margin-top: 4px;
  }

  /* 
  ******* Video *******
  */
  .video__wrapper {
    padding: 0;
    margin-top: 6px;
  }
  .video__player {
    aspect-ratio: 768 / 418;
    object-position: left center;
    object-fit: cover;
  }
  .video__controls {
    width: 15%;
  }
  .video__images {
    max-width: 57%;
  }

  /* 
  ******* contacts *******
  */

  .contacts {
    background-position: -232px;
    background-size: auto 600px;
  }
  .contacts__title {
    font-size: 32px;
    line-height: 64px;
  }
  .contacts__wrapper {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 108px;
  }
  .button_size_submit {
    margin-top: 5px;
  }

  /* 
  ******* footer *******
  */

  .footer {
    flex-direction: column;
    padding: 28px 20px;
  }
  .footer__items {
    margin-bottom: 16px;
  }
  .footer__items:last-child {
    margin-bottom: 0;
    padding-top: 14px;
  }
  .price__wrapper {
    margin-top: 4px;
    gap: 47px;
  }
  .price__item {
    padding: 0 98px;
  }
  .price {
    padding-bottom: 74px;
  }
  .contacts__wrapper {
    padding-top: 62px;
    padding-bottom: 112px;
  }
  .contacts__form-input {
    padding: 3px 17px;
  }
  .footer__item {
    margin-right: 25px;
  }
  .footer__item_mg {
    margin-right: 21px;
  }
  .footer__item-text {
    margin-left: -3px;
  }

  .hamburgerLight {
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s linear, 1s color, 0s background-color;
  }
  .hamburger.is-active .hamburgerLineLight:nth-child(3) {
    background-color: #000 !important;
    height: 2px;
  }
  .hamburger.is-active .hamburgerLineLight:nth-child(1) {
    background-color: #000 !important;
    height: 2px;
  }
}

@media (max-width: 619px) {
  .content__adaptive-menu {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero {
    background-position: -110px -25px;
  }
}
@media (max-width: 470px) {
  .header {
    padding: 21px 32px 19px 32px;
  }
  .hero {
    background-position: -200px;
    background-size: auto 615px;
  }
  .hero__wrapper {
    max-width: 100%;
    padding: 168px 32px 0 32px;
  }
  .portfolio__item-photo {
    max-width: 300px;
  }
  .title__wrapper {
    width: 100%;
  }
  .hamburger.is-active {
    position: fixed;
    right: 30px;
  }
  .price__item {
    max-width: 300px;
    padding: 0 30px;
  }
  .header__list {
    padding: 95px 0 0 45px;
  }
  .header__list-link {
    font-size: 34px;
  }
  .contacts__form {
    padding: 0 20px;
  }

  .title::before,
  .title::after {
    display: none;
  }
}

@media (max-width: 380px) {
  .header {
    align-items: center;
    padding: 21px 20px;
  }
  .toggle__theme.close {
    margin-right: 70px;
  }
  .hamburger.is-active {
    position: fixed;
    right: 20px;
  }
  .hamburger,
  .toggle__theme {
    margin-left: 20px;
  }
  .hero__wrapper {
    text-align: center;
    padding: 138px 0 0 20px;
  }
  .header__list {
    padding: 110px 0 0 45px;
  }
  .skills__wrapper-item:last-child {
    margin: 0;
  }
}

@media (max-width: 305px) {
  .title {
    overflow: inherit;
  }
  .hamburger,
  .toggle__theme {
    margin-left: 5px;
  }
  .toggle__theme.close {
    margin-right: 55px;
  }
  .portfolio__item-photo {
    max-width: 230px;
  }
  .price__item {
    max-width: 220px;
    padding: 0 30px;
  }
  .button {
    width: 150px;
    height: 55px;
  }
  .hero__wrapper {
    padding: 100px 0 0 20px;
  }
  .footer__item-text {
    text-align: center;
  }
}

/* Light theme */

.light__theme,
.light__theme_btn {
  background-color: #ffffff;
  color: #000000;
}
.light__theme_title {
  color: #000;
}
.light__theme_title::before,
.light__theme_title::after {
  background-color: #000;
}
.light__theme_btn:hover {
  background-color: var(--yellow);
  color: #ffffff !important;
}
.active_light {
  color: #fff;
}

/* button active */

.bubbly-button {
  position: relative;
  overflow: hidden;
}

.bubbly-button:focus {
  outline: none;
}

.bubbly-button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
